.testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .testimonials > div:not(:last-child) {
    padding-bottom: 40px; }
  .testimonials__heading {
    height: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -1.5px;
    margin-bottom: 56px; }
  .testimonials__h1 {
    /*position: relative;*/
    margin: 0; }
  .testimonials__logo {
    position: absolute;
    bottom: -8px;
    left: calc(50% - 11.5px);
    width: 23px;
    height: 16px;
    background-image: url("../images/crown.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }
  .testimonials__filling {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .testimonials__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .testimonials__photo {
    margin-top: 24px;
    width: 153px;
    height: 153px;
    border-radius: 76.5px;
    background-size: cover;
    background-position: center;
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s; }
    .testimonials__photo--1 {
      background-image: url("../images/people/Ellipse 1.png"); }
    .testimonials__photo--2 {
      background-image: url("../images/people/Ellipse 2.png"); }
    .testimonials__photo--3 {
      background-image: url("../images/people/Ellipse 3.png"); }
  .testimonials__photo:hover {
    -webkit-box-shadow: 0 0 10px 5px #3c94f8;
            box-shadow: 0 0 10px 5px #3c94f8;
    -webkit-transform: scale(1.2);
            transform: scale(1.2); }
  .testimonials__link {
    padding: 24px 0 0;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-decoration: none;
    color: #0075ff;
    -webkit-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out; }
  .testimonials__link:hover {
    color: #9fadc2; }
  .testimonials__link:focus {
    outline: none;
    color: #00ff; }
  .testimonials__position {
    margin: 0;
    padding: 4px 0 13px;
    font-size: 14px;
    color: #9fadc2; }
  .testimonials__text {
    margin: 0;
    text-align: center;
    max-width: 240px;
    color: #3e3e3e; }

@media screen and (max-width: 1020px) {
  .testimonials > div:not(:last-child) {
    padding-bottom: 30px; }
  .testimonials__heading {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 46px; }
  .testimonials__filling {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .testimonials__filling > :not(:last-child) {
      margin-bottom: 24px; }
  .testimonials__card {
    max-width: 280px; }
  .testimonials__photo {
    margin-top: 0; } }

/*# sourceMappingURL=Testimonials.css.map */
